.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.form {
  padding: 16px;
  background: #fff;
  border-radius: 24px;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  align-content: center;
  text-align: center;
  filter: drop-shadow(0px 10px 12px #666);
}
.site {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #edf2f4;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
}
.navbar {
  display: flex;
  background-color: #fff;
  padding: 16px;
  width: 100%;
  justify-content: space-between;
}